@import '/stylesheet/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Rubik+Moonrocks&display=swap');

::-webkit-scrollbar{
    height: 10px;
    width: 8px;
}

::-webkit-scrollbar-track{
    background-color: #141414;
}

::-webkit-scrollbar-thumb{
    border-radius: 100px;
    background-color: #500849;
}

body{
    background: linear-gradient(90deg, #000000, #141414);
    font-family: 'Montserrat', sans-serif;
    color: white;
}   

a{
    color: unset;
}
 
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a:hover{
    color: unset;
}

h2, h3, h5{
    cursor: pointer;
    transition: .4s ease-in-out ;
}

h2:hover, h3:hover,h5:hover, i:hover{
    color: #500849;
    transform: scale(1.03);
}

i{
    color: #500849;
    font-size: 30px;
    font-weight: 900;
    transition: .4s ease-in-out ;
}

.nav-link{
    transition: .4s linear;
}

.nav-link:hover{
    font-weight: 800;
    border-bottom: 2px solid #500849;
    transform: scale(1.1);
}

.bg-purple{
    background-color: rgb(10, 10, 10);
}
.btn-purple{
    transition: .4s linear;
}

.btn-purple:hover{
    background-color: transparent;
}

.image-shape{
    position: absolute;
    height: 500px;
    width: 440px;
    background-color: #500849;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.image-profile img{
    padding: 20px 20px;
    position: relative;
    height: 500px;
}

.name > h1 {
    font-size: 35px;
}

.text-purple{
    color: #500849 !important;
}

.name > h1 > span {
    font-family: 'Rubik Moonrocks', cursive;
    letter-spacing: 2px;
    font-size: 50px;
    color: #500849;
}

.navbar-brand{
    width: fit-content;
    background: #500849;
    -webkit-background-clip: text;
    color: transparent !important;
    font-weight: bold;
}

section{
    padding-right: 40px;
    padding-left: 40px;
}

.title > h2::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -7px;
    height: 3px;
    width: 100px;
    transform: translateX(-50%);
    background-color: #500849;
}

.title > h2::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -12px;
    height: 12px;
    width: 12px;
    transform: translateX(-50%);
    background-color: rgb(80, 8, 73);
}

.card {
    cursor: pointer;
    transition: .4s ease-in-out ;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 2px 4px rgba(20, 20, 20, 0.3);
}

.bg-gray{
    background-color: rgb(20, 20, 20);
}

.portfolio .card:hover{
    box-shadow: none;
}

.portfolio .card:hover .card-text{
    opacity: 1;
}

.portfolio .card-text{
    background: linear-gradient(rgba(10,10,10,0.3) 0%, #500849 100%);
    opacity: 0;
    transition: .4s ease-in-out;    
}

.card-text > p{
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: .4s ease-in-out;    
}

.card-text:hover > p{
    top: 60%;
    opacity: 1;
}

.card-text > p:hover {
    color: antiquewhite;
}

.contact .card:hover{
    box-shadow: none;
}

.bg-black-thin{
    background-color: #080808;
}

.contact i{
    color: white;
    transition: .4s ease-in-out;
}

.contact i:hover{
    color: #500849;
    transform: scale(1.03);
}



@media only screen and (max-width: 992px) {
    .name{
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media only screen and (max-width: 520px) {
    .image-shape{
        height: 500px;
        width: 100%;
    }    

    .image-profile img{
        width: 100%;
    }

    .name{
        text-align: center;
    }

    .name > h1 > span {
        font-size: 40px;
    }

    .name > h1 {
        font-size: 25px;
    }
}

