<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="/javascript/bootstrap.js"></script>
    <link rel="shortcut icon" href="/icons/logo1.png">
    <title>Aenã Martinelli</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-purple">
        <div class="container-fluid">
          <a class="navbar-brand text-white fs-4 ms-4" href="/">
            <span class="text-white fw-bold">PORT<span class="text-purple fw-bold">FOLIO</span></span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "><i class="fa-solid fa-bars"></i></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav me-5 pe-5">
              <li class="nav-item me-5">
                <a class="nav-link text-white" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item me-5">
                <a class="nav-link text-white" href="#portfolio">Projects</a>
              </li>
              <li class="nav-item me-5">
                <a class="nav-link text-white" href="#contact">Contact</a>
              </li>
              <li class="nav-item me-5">
                <a class="nav-link text-white" href="/read-more">Read More</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>