<section class="container-fluid mt-5 contact" id="contact target="_blank"">
    <div class="title d-flex justify-content-center align-items-center flex-column">
        <h2 class="display-1 fw-bold mb-5 position-relative">Contact me!</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card mt-3 bg-black-thin rounded text-center pt-2 pb-2">
                <a class="text-decoration-none" target="_blank" href="https://api.whatsapp.com/send?phone=5561992634979&text=Olá, gostaria de conhecer melhor os seus serviços!">
                    <i class="fa-brands fa-whatsapp text-decoration-none"></i>
                    <h3>Whatsapp</h3>
                    <h5 class="ps-2">(61) 9 9263-4979</h5>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card mt-3 bg-black-thin rounded text-center pt-2 pb-2">
                <a class="text-decoration-none" target="_blank" href="mailto:aenamartinelli@gmail.com">
                    <i class="fa-solid fa-at text-decoration-none"></i>
                    <h3>E-mail</h3>
                    <h5 class="ps-2">aena@gmail.com</h5>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card mt-3 bg-black-thin rounded text-center pt-2 pb-2">
                <a class="text-decoration-none" target="_blank" href="https://github.com/Aenewsss">
                    <i class="fa-brands fa-github text-decoration-none"></i>
                    <h3>Github</h3>
                    <h5 class="ps-2">github.com/Aenewsss</h5>
                </a>
            </div>
        </div>
    </div>
   
</section>