<section class="container-fluid mt-5 pb-5" id="profile">
    <div class="row align-items-center profile">
        <div class="col-md-6 col-xs-12 pb-5 d-flex justify-content-center">
            <div class="image-shape"></div>
            <div class="image-profile d-flex justify-content-center">
                <img class="rounded" src="/images/profile2.jpg" alt="">
            </div>
        </div>
        <div class="col-md-6 col-xs-12 text-white name">
            <h1 class="text-start fw-bolder mb-5">Hi I'm 
                <span class="text-uppercase fw-normal">Aenã Martinelli</span><br>
                a Full Stack Developer
            </h1>
            <q class="d-block">Knowledge is not enough, we must apply it</q>
            <a href="/cv.pdf" download="Curriculum-Aenã Martinelli dev" class="mt-3 rounded-pill btn btn-purple ps-3 pe-3 fw-bold">Download Cv</a>
        </div>
    </div>
</section>