<%- include('./layouts/header.ejs') %>

<section class="about container-fluid mt-5 text-center">
    <div class="title d-flex justify-content-center align-items-center justify-content-center flex-column">
        <h2 class="display-1 fw-bold mb-5 position-relative">About me</h2>
    </div>
    <div class="description p-3">
        <p>I'm a Brazilian Full Stack developer and a serious 
            designer since 2020 but I've been playing with Photoshop 
            and video edition since I was just a kid. </p>
    </div>
    <div class="graduation p-3">
        <h3 class="text-center fw-bold">Graduation</h3>
        <p>When I was in my junior year of high school I started to decide what 
            I was
            going to do with my life. I started by excluding areas that did not 
            interest me, such medicine, law, civil engineering and others. 
            Until I stopped and tought that since I was a child I liked to 
            fiddle with computer settings, play with video and photo editing
            aplications and even had a youtube channel. That's when
            I decided to enter the technology field. In 2020 I started the 
            Computer Science course and then switched to the Systems Analysis 
            and Development course and will finish in December 2022.
        </p>
    </div>
    <div class="tech p-3" id="tech">
        <h3 class="text-center fw-bold">Technologies I use</h3>
        <div class="row mb-4">
            <div class="col-md-6 card bg-black-thin align-items-center justify-content-center" id="web-dev">
                <h4>Web Development</h4>
                <ul>
                    <li>Node</li>
                    <li>React</li>
                    <li>Express</li>
                    <li>HTML</li>
                    <li>CSS</li>
                </ul>
            </div>
            <div class="col-md-6 card bg-black-thin align-items-center justify-content-center" id="desk-dev">
                <h4>Desktop Development</h4>
                <ul>
                    <li>Java</li>
                    <li>Electron</li>
                    <li>Python</li>
                    <li>C</li>
                </ul>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-6 card bg-black-thin align-items-center justify-content-center" id="mob-dev">
                <h4>Mobile Development</h4>
                <ul>
                    <li>React Native</li>
                    <li>Java</li>
                    <li>Flutter</li>
                </ul>
            </div>
            <div class="col-md-6 card bg-black-thin align-items-center justify-content-center" id="design">
                <h4>Design</h4>
                <ul>
                    <li>Adobe XD</li>
                    <li>Adobe Photoshop</li>
                    <li>Canva</li>
                    <li>Bootstrap</li>
                    <li>Bulma</li>
                </ul>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-6 card bg-black-thin align-items-center justify-content-center">
                <h4>Database</h4>
                <ul>
                    <li>Mongo</li>
                    <li>MySQL</li>
                    <li>PostgreSQL</li>
                    <li>Firebase Realtime Database</li>
                    <li>SQLite</li>
                </ul>
            </div>
            <div class="col-md-6 card bg-black-thin align-items-center justify-content-center">
                <h4>Other Technologies</h4>
                <ul>
                    <li>Git</li>
                    <li>Docker</li>
                    <li>AWS</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="certification p-3">
        <h3 class="text-center fw-bold">Certification Courses</h3>
        <ul>
            <li>I will add later</li>
            <li>I will add later</li>
            <li>I will add later</li>
            <li>I will add later</li>
        </ul>
    </div>
</section>

<%- include('./layouts/footer.ejs') %>