<section class="services container-fluid mt-5" id="services">
    <div class="title d-flex justify-content-center align-items-center flex-column">
        <h2 class="display-1 fw-bold mb-5 position-relative">What do I do?</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-6 col-xs-12 mb-3">
            <div class="card bg-gray p-2">
                <i class="fa-solid fa-code pt-2"></i>
                <h3 class="fw-bold pt-2">Web Development</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem quod vel reiciendis nemo
                    incidunt
                    maiores nisi, distinctio id dolore corporis excepturi corrupti molestias blanditiis illum vitae
                    quisquam
                    commodi facilis necessitatibus?
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 mb-3">
            <div class="card bg-gray p-2">
                <i class="fa-brands fa-java pt-2"></i>
                <h3 class="fw-bold pt-2">Desktop Development</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem quod vel reiciendis nemo
                    incidunt
                    maiores nisi, distinctio id dolore corporis excepturi corrupti molestias blanditiis illum vitae
                    quisquam
                    commodi facilis necessitatibus?
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 mb-3">
            <div class="card bg-gray p-2">
                <i class="fa-brands fa-react pt-2"></i>
                <h3 class="fw-bold pt-2">Mobile Development</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem quod vel reiciendis nemo
                    incidunt
                    maiores nisi, distinctio id dolore corporis excepturi corrupti molestias blanditiis illum vitae
                    quisquam
                    commodi facilis necessitatibus?
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 mb-3">
            <div class="card bg-gray p-2">
                <i class="fa-brands fa-css3-alt"></i>
                <h3 class="fw-bold pt-2">Web Design</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem quod vel reiciendis nemo
                    incidunt
                    maiores nisi, distinctio id dolore corporis excepturi corrupti molestias blanditiis illum vitae
                    quisquam
                    commodi facilis necessitatibus?
                </p>
            </div>
        </div>
    </div>
</section>
