<section class="services container-fluid mt-5" id="services">
    <div class="title d-flex justify-content-center align-items-center flex-column">
        <h2 class="display-1 fw-bold mb-5 position-relative">What do I do?</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-6 col-xs-12 mb-3">
            <div class="card bg-gray p-2">
                <i class="fa-solid fa-code pt-2"></i>
                <h3 class="fw-bold pt-2">Web Development</h3>
                <p>I develop websites and web apps of all types and designs.
                    <br>
                    I mainly use Node, Express, React, SQL or NOSQL and of course HTML and CSS.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 mb-3">
            <div class="card bg-gray p-2">
                <i class="fa-brands fa-java pt-2"></i>
                <h3 class="fw-bold pt-2">Desktop Development</h3>
                <p>Building software applications that work on Windows, Linux, and macOS.
                    <br>
                    To create this apps I use Java, Electron(a Javascript framework) and a little of Python and C.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 mb-3">
            <div class="card bg-gray p-2">
                <i class="fa-brands fa-react pt-2"></i>
                <h3 class="fw-bold pt-2">Mobile Development</h3>
                <p>Most of the time we are on mobile and I like to create apps to help people on a daily basis.
                    <br>
                    Cross-platform development using React Native and Firebase.
                </p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 mb-3">
            <div class="card bg-gray p-2">
                <i class="fa-brands fa-css3-alt"></i>
                <h3 class="fw-bold pt-2">Design</h3>
                <p>
                    Besides being a programmer, I like to give my software a different style.
                    <br>
                    To do this I use Adobe Photoshop, Adobe XD, Canva and CSS.
                </p>
            </div>
        </div>
    </div>
</section>
